body{
  font-family: 'Assistant', sans-serif;
}
body,p,h6,span{
  margin: 0px;
  padding: 0px;
}

/*span,p{
  border: red 1px solid;
}*/


.vitamin-unit{
  margin: 10px;
  width: 70px;
  line-height: 20px;
  /*height: 72px;*/
  background-color: #FF5500;
  color: #FFFFFF;
  font-size: 11px;
  border: red 1px solid;
  text-align: center;
  vertical-align:middle;
  float: right;

}

.unit-row{
  height: 24px;
  /*border: green 1px solid*/
  display: flex;
    justify-content: center;
    align-items: center;

}

.unit-row > span{
    margin: 0px 1px;
border: green 1px solid;
width: 27px;
}

.unit-row-quantity{
  padding: 0px 2px;
  background-color: white;
  color: black;
  height: 18px;
  line-height: 18px;


  /*border: green 1px solid*/
}

.unit-row-quantity > span{
  border: green 1px solid;
  display: inline-block;
  width: 27px;
  margin: 0px 1px;
}
.s{
  border-right: 1px #FF5500 solid;
}
